{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1>Dashboard</h1>
            <p>You can also <a href="{% url "edit" %}">edit your profile</a> or <a href="{% url "password_change" %}">change your password</a>.</p>
        </div>
    </div>

    <div class="row">
         <div class="col-lg-6">
            <h1>Control Device</h1>

            <form action="." method="post">
                {% csrf_token %}
                <label for="id_key" class="switch">Key:
                    <input type="checkbox" id="id_key" name={{ switch_form.key.name }} >
                    <span class="slider"></span>
                </label>
                <p><input type="submit" value="submit"></p>
            </form>
         </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h3>Ring</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Date of ring</th>
                    </tr>
                </thead>
                <tbody>
                {% for ring in ring_list %}
                    <tr>
                        <td>{{ forloop.revcounter }}</td>
                        <td>{{ ring.date_of_ring }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6">
            <h3>Switch</h3>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Number</th>
                        <th>Date of Request</th>
                        <th>Done</th>
                    </tr>
                </thead>
                <tbody>
                {% for switch in switch_list %}
                    <tr>
                        <td>{{ forloop.revcounter }}</td>
                        <td>{{ switch.created }}</td>
                        {% if switch.done %}
                            <td>True</td>
                        {% else %}
                            <td>Failed</td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}