{% load staticfiles %}
<!DOCTYPE html>
<html>

    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>

    <body>
        <div id="header">
            <span class="logo">Ringo</span>
            {% if request.user.is_authenticated %}
                <ul class="menu">
                    <li {% if section == "dashboard" %}class="selected"{% endif %}><a href="{% url "dashboard" %}">My dashboard</a></li>
                    <li {% if section == "images" %}class="selected"{% endif %}><a href="#">Images</a></li>
                    <li {% if section == "sensor" %}class="selected"{% endif %}><a href="#">Sensor</a></li>
                </ul>
            {% endif %}
            <span class="user">
                {% if request.user.is_authenticated %}
                    <ul class="menu">
                        <li>device: {{ request.user.device.raspberry_pi_code }}</li>
                        <li>ip: {{ request.user.device.ip }}</li>
                        <li>Hello {{ request.user.username }}, <a href="{% url "logout" %}">Logout</a></li>
                    </ul>
                {% else %}
                    <a href="{% url "login" %}">Log-in</a>
                {% endif %}
            </span>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">×</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>

</html>